[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/geb-fsm"]
	path = lib/geb-fsm
	url = https://github.com/money-god/geb-fsm
[submodule "lib/geb"]
	path = lib/geb
	url = https://github.com/money-god/geb
